<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FACE RECOGNITION ATTENDANCE SYSTEM</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
    .button1 {
    padding:0;
    border:none;
    background: none;
    }

    .body {
    font-family: georgia, serif;
    }
  </style>
</head>

<body style="background-color:#B1D4E0;">

<!-- As a link -->
<nav class="navbar navbar-dark" style="background-color: #1F456E;">
  <a class="navbar-brand" href="#">FACE RECOGNITION ATTENDANCE SYSTEM</a>
</nav>
<br>
<br>
<br>
<br><br><br>
<div class="btn-group">
<div class="button1" style="width: 300px;" >
  <a href=" http://127.0.0.1:5000/upload">
    <button type="button" class="button1">
      <img class="button1" width="200" height="200" src="https://i.pinimg.com/564x/95/e0/10/95e0105876dbe483bbae8b1911e53f69.jpg" /></button>
  </a>
  <br><br>
  <b style="color:blue; font-size:25px;"><i>Enroll New Student</i></b>
</div>
<br>
<br>

  <div class="button1" style="width: 300px;">
    <a href=" http://127.0.0.1:5000/index">
      <button type="button" class="button1">
        <img class="button1" width="200" height="200" src="https://i.pinimg.com/564x/c5/39/e8/c539e85577fe4fb7267f504bd7af6696.jpg" alt="Mark Attendance-In" /></button>
    </a>
    <br><br>
    <p style="color:blue; font-size:25px; font-weight:bold;"><i>Mark Attendance-In</i></p>
  </div>
  <br>

  <div class="button1" style="width: 300px;">
    <a href=" http://127.0.0.1:5000/S3_csv_table">
      <button type="button" class="button1">
        <img class="button1" width="200" height="200" src="https://i.pinimg.com/564x/ba/25/03/ba250371f252c3240f97d878213d4e2a.jpg" alt="View Attendance-In" /></button>
    </a>
    <br><br>
    <b style="color:blue; font-size:25px;"><i>View Attendance-In</i></b>
  </div>
<br>
<br>
  <div class="button1" style="width: 300px;">
    <a href=" http://127.0.0.1:5000/indexOut">
      <button type="button" class="button1">
        <img class="button1" width="200" height="200" src="https://i.pinimg.com/564x/37/88/6b/37886bec365d8c95b29ab1a87a5c1a80.jpg" alt="Mark Attendance-Out" /></button>
    </a>
    <br><br>
    <b style="color:blue; font-size:25px;"><i>Mark Attendance-Out</i></b>
  </div>
  <br>
  <br>
  <label>
  <div class="button1" style="width: 300px;">
    <a href=" http://127.0.0.1:5000/out">
      <button type="button" class="button1">
        <img class="button1" width="200" height="200" src="https://i.pinimg.com/564x/f2/7f/c4/f27fc416271fe4de5c587987ec525c8c.jpg" alt="View Attendance-Out" /></button>
    </a>
    <br><br>
    <b style="color:blue; font-size:25px;"><i>View Attendance-Out</i></b>
  </div>
  </label>
</div>

<!--<div class="mx-auto" style="width: 150px;">
  <a href=" http://localhost:80/S3_csv_table">
   <button type="button" class="btn btn-primary" >VIEW ATTENDANCE</button>
</a>
</div>-->
<br><br><br><br><br><br><br><br>
<p class="mt-5 mb-3 text-muted text-center">&copy; 2022-2023</p>
</body>
</html>